<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rick.zhou.mapper.EmployeeMapper">
    <insert id="save" parameterType="rick.zhou.entity.Employee">
        insert into employee(name, username, password, phone, sex, id_number, status, create_user, update_user)
        values (#{name}, #{username}, #{password}, #{phone}, #{sex}, #{idNumber}, #{status}, #{createUser}, #{updateUser})
    </insert>

    <select id="getByUsername" resultType="rick.zhou.entity.Employee" parameterType="java.lang.String">
        select *
        from employee
        where username = #{username}
    </select>
</mapper>
